body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    padding: 10px;
    margin: -1%;
}

nav h1 {
    font-size: 1.5em;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #00baff;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #1e90ff;
}

nav form {
    display: flex;
    align-items: center;
}

nav form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

nav form input[type="submit"] {
    background-color: #00baff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

nav form input[type="submit"]:hover {
    background-color: #1e90ff;
}

main img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #222;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}
