body{
    height: 100%;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    background-color: black;
}
.navbar h1{
    color: white;
    position: relative;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    margin-left : 20px;
    color : white;
    text-decoration: none;
}