*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
.navbar{
    padding: 25px 5%; /* Taille de la barre de naviguation*/
    display: flex; /* Alignement des éléments horizontalement */
    justify-content: space-between; /*espace entre les éléments*/
    align-items: center;
    position: sticky; /* Barre de naviguation toujourss visible meme quand on descend*/
    background-color: grey;
}
.navbar .logo .h1{
    color: black;
}
.navbar .menu li{
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left : 20px;
    color : black;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.navbar .menu li .Active{
    color : blue;
}
.produits_texte{
    text-align: left;
    font-size: 30px;
    font-weight: 50px;
    color: grey;
}
.section_produits{
    justify-content: space-between;
}
.article img{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}
.article .desc{
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 10px; /*bord arrondi*/
    width: 180px; /*taille de la box*/
    text-align: center;
    background-color: grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ombre pour bordure*/
}
.article .desc p{
    margin: 5px 0;
}
.article .desc .achat{
    margin: 5px;
    background-color: grey;
    border-color: grey;
}