*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;/* pas de bord sur les cotés */
    padding: 0;/* pas de bord sur les cotés */
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main{
    align-items: center;
    text-align: center;
}
.navbar{
    padding: 25px 5%; /* Taille de la barre de naviguation*/
    display: flex; /* Alignement des éléments horizontalement */
    justify-content: space-between; /*espace entre les éléments*/
    align-items: center;
    position: sticky; /* Barre de naviguation toujourss visible meme quand on descend*/
    top: 0;
    background-color: black;
    border-bottom: 2px solid white;
}
.navbar .logo a{
    text-decoration: none;
    color: white;
}
.navbar .menu li{
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left : 20px;
    color : white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.navbar .menu li a:hover{
    color : rgb(3, 184, 255);
}
.content{
    background-image: url(img/Contactez_nous.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
}
h2{
    font-size: 35px;
    margin-top: -45px;
    margin-bottom: 5px;
}
.tableau{
    margin: auto;
    background: black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px black;
    height: auto;
    width: 100%;
    max-width: 500px;
    font-size: large;
}
button{
    background-color: rgb(28, 28, 210);
    color: white;
    padding: 10px;
    border-color: rgb(28, 28, 210);
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}