*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-color: rgb(41, 36, 36);
}
.navbar{
    padding: 25px 5%; /* Taille de la barre de naviguation*/
    display: flex; /* Alignement des éléments horizontalement */
    justify-content: space-between; /*espace entre les éléments*/
    align-items: center;
    position: sticky; /* Barre de naviguation toujourss visible meme quand on descend*/
    top: 0; /*nécéssaire pour position*/
    background-color: rgb(32, 28, 28);
}
.navbar .logo a{
    text-decoration: none;
    color: white;
}
.navbar .menu li{
    display: inline-block; /*alignement de vêtements crampons...*/
}
.navbar .menu li a{/*chaque éléments de la barre de taches*/
    margin-left : 20px; /*marge entre vêtements crampons*/
    color : white;
    text-decoration: none;  /*Pour ne pas souligner les liens hypertexte*/
    font-size: 15px;
    font-weight: bold; /*Ecrire en gras*/
}
.navbar .menu li a:hover{ /*Quand on se deplace sur un éléments*/
    color: rgb(3, 184, 255);
}
.navbar .menu li .Active{
    color : rgb(3, 184, 255);
}
main{
    padding: 50px; /*ecart entre le main et la barre de tache*/
}
.articles{ /* La section ou il y a les cases des articles*/
    display: flex; /*Pour aligner les cases des articles*/
    justify-content: center; /*centrer les cases*/
    gap: 50px; /*espacement entre chaque articles*/
    flex-wrap: wrap; /*retour a la ligne si ne tient pas sur une ligne*/
}
.article{ /*case ou il y a les articles*/
    background-color: white;
    border: 1px solid grey; /*bordure continue et grise*/
    border-radius: 10px;/*arrondie des bordures*/
    width: 200px; /*largeur*/
    text-align: center;
    overflow: hidden; /*le texte ne depasse pas la case*/
    padding: 10px;
}
.article:hover{
    box-shadow: 0 4px 6px grey;
}
.article img{
    width: 100%;
    margin: 10px;
    text-align: center;
}
.article .desc{ /*case avec la descriptions et le bouton*/
    margin: 12px;
    border: 1px solid grey;
    border-radius: 10px; /*bord arrondi*/
    width: 180px; /*taille de la box*/
    text-align: center;
    background-color: grey;
    box-shadow: 0 2px 4px black; /* ombre pour bordure*/
}
.article .desc p{ /*description de chaque article*/
    margin: 5px;
}
.article .desc button{ /*bouton pour chaque article*/
    padding: 5px;
    background-color: grey; /*couleur du bouton*/
    border-color: grey; /*couleur des bordures du bouton*/
    border-radius: 5px;
    cursor: pointer; /*Lorsque l'on passe dessus notre souris devient un pointer*/
}
.article .desc button:hover{
    background-color: darkgrey;
    border-color: darkgrey;
}
footer{ /* La partie basse de la page */
    padding: 35px;
}
footer a{ /* Bouton de la partie basse de la page */
    display: block;
    text-decoration:none;
    padding: 10px;
    width: 100px;
    font-size:medium;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: rgb(28, 28, 210);
    color: white;
    border-color: rgb(28, 28, 210);
    border-radius: 5px;
    cursor: pointer;
}
footer a:hover{
    background-color: blue;
}
