*{
    margin: 0; /*pas de bord sur les cotés*/
    padding: 0;
}
body{
    height: 100%;
    background-color: rgb(41, 36, 36);
}
.navbar{
    padding: 25px 5%; /* Taille de la barre de naviguation*/
    display: flex; /* Alignement des éléments horizontalement */
    justify-content: space-between; /*espace entre les éléments*/
    align-items: center;
    position: sticky; /* Barre de naviguation toujourss visible meme quand on descend*/
    top: 0; /* nécéssaire pour que la barre soit toujours visible pour que les éléments soit tout en haut */
    background-color: rgb(32, 28, 28);
}
.navbar .logo a{
    text-decoration: none;
    color: white;
}
.navbar .menu li{
    display: inline-block; /* alignement de Vêtements Crampons ... */
}
.navbar .menu li a{ /*Chaque éléments de la barre de tache */
    margin-left : 20px; /* Marge entre Vêtements Crampons ... */ 
    color : white;
    text-decoration: none; /*Pour ne pas souligner les éléments */
    font-size: 15px;
    font-weight: bold; /* Ecrire en gras */
}
.navbar .menu li a:hover{ /* Quand on deplace notre souris sur un éléments */
    color: rgb(3, 184, 255);
}
.navbar .menu li .Active{
    color : rgb(3, 184, 255);
}
main{
    padding: 50px; /* ecart entre la barre de naviguation et les éléments de main */
}
.articles{ /* La section ou il y a les cases d'articles */
    display: flex; /* pour aligner les éléments sur des lignes */
    justify-content: center; /* centrer contenu */
    gap: 50px; /* espacement entre chaque articles */
    flex-wrap: wrap; /* retour a la ligne si ne tient pas sur une ligne */
}
.article{ /* Les cases ou il y a les articles */
    background-color: white; 
    border: 1px solid grey; /* bordure continue et gris */
    border-radius: 10px; /* arrondire les bordure */
    width: 200px;
    text-align: center;
    overflow: hidden; /* le texte ne depasse pas la case */
    padding: 10px;
}
.article:hover{
    box-shadow: 0 4px 6px grey;
}
.article img{
    width: 100%;
    margin: 10px;
    text-align: center;
}
.article .desc{ /* La case avec la description et le bouton */
    margin: 12px;
    border: 1px solid white;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    background-color: grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.article .desc h2{ /* description de chaque article */
    margin: 5px;
    font-weight: 100;
    font-size: medium;
}
.article .desc p{ /* Ancien Prix */
    margin: 5px;
    text-decoration: line-through;
}
.article .desc h3{ /* Nouveau Prix */
    color: red;
    margin: 5px;
    font-weight: 100;
    font-size: medium;
}
.article .desc button{ /* Bouton pour chaque articles */
    padding: 5px;
    background-color: grey; /* couleur du bouton */
    border-color: black; /* couleur de la bordure du bouton */
    border-radius: 5px;
    cursor: pointer; /* Lorsque l'on deplace notre souris dessus cela devient un pointer */
}
.article .desc button:hover{ /*Lorsque l'on passe notre souris sur le bouton */
    background-color: darkgrey;
    border-color: black;
}
footer{ /* La partie basse de la page */
    padding: 35px;
}
footer a{ /* Bouton de la partie basse de la page */
    display: block;
    text-decoration:none;
    padding: 10px;
    width: 100px;
    font-size:medium;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: rgb(28, 28, 210);
    color: white;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
}
footer a:hover{
    background-color: blue;
}
